.pageBack{
  display: flex;
  height: 100vh;
  position: relative;
  width: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pageBack img{
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 0;
}
.addTask{
  display:flex;
  z-index: 10;
  position: absolute;
  top: 150px;
  align-items: center;
  gap: 20px;
}
.addTask button{
  border: none;
  padding: .5rem 1.5rem;
}
.todoList{
  width:334px;
  display:flex;
  flex-direction:column;
  z-index: 10;
  top: 250px;
  left:200px;
  position: absolute;
  gap:11px;
}
.todoItem{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.todoItem button{
  border: none;
  padding: .5rem 1.5rem;
}